
.App-header {
  background-color: #EFF1FD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

